.popup-confirm-from{
   display         : flex;
 flex-direction  : column;
 justify-content : space-between;
 background-color: #fff;
 row-gap         : 10px;
 width           : 430px;
 height          : 181px;
 position        : absolute;
 bottom          : 0;
 border-radius   : 10px;
 padding         : 0 36px;
 box-sizing      : border-box;
}