.profile__avatar {
  position    : relative;
  text-align  : center;
  width       : 7.969rem;
  height      : 7.969rem;
  margin-right: 20px;

}

@media screen and (max-width: 812px) {
  .profile__avatar {
    width        : fit-content;
    text-align   : center;
    margin-bottom: 26.25px;
  }
}